@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import url('https://unpkg.com/leaflet/dist/leaflet.css');


@custom-variant dark (&:is(.dark *));

:root{
    --primaryBackgroundColor : #f7f7f7;
    --secondaryBackgroundColor : rgb(255, 255, 255);
    --primaryTextColor : black;
    --secondaryText: rgba(0, 0, 0, 0.6);
    --invertSecondaryText: rgba(255, 255, 255, 0.6);
    --NavHeroSplit: rgba(128, 128, 128, 0.121);
    --ActiveGColor: #2f2dc8;
    --ActiveGColor2: #dbeafe;
    --primaryHoverColor: rgb(255, 255, 255);
    --primaryHoverColor2: hsla(214, 95%, 93%, 0.3);
    --primaryHoverHelper: #efefef;
    --CTAbuttonColor1:  #2f2dc8;
    --CTAbuttonColor2:  #401d86;
    --MenuBackground: #f7f7f7;
    --WatchColor1: #401d86;
    --WatchColor2: #0a094c;
    --WatchColor3: #484C84;
    --box: #5959591f;
    --box1: #000000;
    --whiteBlack: #ffffff;
    --radius : 0.625rem;
    --background : oklch(1 0 0);
    --foreground : oklch(0.145 0 0);
    --card : oklch(1 0 0);
    --card-foreground : oklch(0.145 0 0);
    --popover : oklch(1 0 0);
    --popover-foreground : oklch(0.145 0 0);
    --primary : oklch(0.205 0 0);
    --primary-foreground : oklch(0.985 0 0);
    --secondary : oklch(0.97 0 0);
    --secondary-foreground : oklch(0.205 0 0);
    --muted : oklch(0.97 0 0);
    --muted-foreground : oklch(0.556 0 0);
    --accent : oklch(0.97 0 0);
    --accent-foreground : oklch(0.205 0 0);
    --destructive : oklch(0.577 0.245 27.325);
    --border : oklch(0.922 0 0);
    --input : oklch(0.922 0 0);
    --ring : oklch(0.708 0 0);
    --chart-1 : oklch(0.646 0.222 41.116);
    --chart-2 : oklch(0.6 0.118 184.704);
    --chart-3 : oklch(0.398 0.07 227.392);
    --chart-4 : oklch(0.828 0.189 84.429);
    --chart-5 : oklch(0.769 0.188 70.08);
    --sidebar : oklch(0.985 0 0);
    --sidebar-foreground : oklch(0.145 0 0);
    --sidebar-primary : oklch(0.205 0 0);
    --sidebar-primary-foreground : oklch(0.985 0 0);
    --sidebar-accent : oklch(0.97 0 0);
    --sidebar-accent-foreground : oklch(0.205 0 0);
    --sidebar-border : var(--NavHeroSplit);
    --sidebar-ring : oklch(0.708 0 0);
}

[data-theme = 'dark']{
    --primaryBackgroundColor : linear-gradient(to bottom, #000000, #06225a);
    --secondaryBackgroundColor : #051238;
    --primaryTextColor : rgb(255, 255, 255);
    --secondaryText: rgba(255, 255, 255, 0.6);
    --invertSecondaryText: rgba(255, 255, 255, 0.6);
    --NavHeroSplit: rgba(128, 128, 128, 0.271);
    --ActiveGColor: #06225a;
    --ActiveGColor2: #07042b;
    --primaryHoverColor: hsla(220, 71%, 29%, 0.8);
    --primaryHoverHelper: hsl(220, 48%, 25%);
    --CTAbuttonColor1:  #ff48fc;
    --CTAbuttonColor2:  #b04aff;
    --MenuBackground: #051238;
    --WatchColor1: #401d86;
    --WatchColor2: #0a094c;
    --WatchColor3: #484C84;
    --box: #ffffff12;
    --box1: #ffffff;
    --whiteBlack: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.space{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.spaceNormal{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face{
    font-family: 'Playfair';
    src: url(/public/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);
}
@font-face{
    font-family: 'Lato';
    src: url(/public/Lato/Lato-Regular.ttf);
}

.carBackground{
    background: var(--secondaryBackgroundColor);
}

.grid-bgCard {
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, var(--box) 1px, transparent 1px),
    linear-gradient(to bottom, var(--box) 1px, transparent 1px);
  background-size: 20px 20px; /* size of squares */
  background-repeat: repeat;

  /* fade out bottom */
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.grid-bg {
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, var(--box) 1px, transparent 1px),
    linear-gradient(to bottom, var(--box) 1px, transparent 1px);
  background-size: 40px 40px; /* size of squares */
  background-repeat: repeat;

  /* fade out bottom */
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

body{
    background: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
    transition:all 0.2s ease-in-out;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gradient-border {
  border-bottom: 0.5px solid;
  border-top: 0.5px solid;
  border-image: linear-gradient(to right, #7b7b7b 20%, #457b9d00 70%) 1;
}

.clipTop {
  clip-path: polygon(
    0% 0%, 
    100% 0%, 
    100% 85%, 
    50% 100%, 
    0% 85%
  );
}

@layer components{
    body{
        @apply
        text-[4vw] md:text-[3vw] lg:text-[1vw]
    }

    /* text sizes */
    .heroText{
        @apply
        text-[7vw] md:text-[5vw] lg:text-[3vw]
        font-serif lg:tracking-wider tracking-widest
    }

    .button{
        @apply
        text-[4vw] md:text-[3vw] lg:text-[1vw] 
    }

    .numbers{
        @apply
        text-[15vw] md:text-[10vw] lg:text-[4.8vw]
    }

    /* .Heading{
        @apply
        text-[7vw] md:text-[5vw] lg:text-[3vw]
        font-bold
        font-serif lg:tracking-wider tracking-widest 
    }
    .subtitle{
        @apply
        text-[4vw] md:text-[3vw] lg:text-[1vw]
        tracking-wider text-[var(--secondaryText)]
        text-justify
    } */

    /* .Heading2{
        @apply
        text-[8vw] md:text-[6vw] lg:text-[2vw]
        font-medium tracking-wider
    }
    .paragraph{
        @apply
        text-[4vw] md:text-[3vw] lg:text-[1vw] 
        tracking-wider text-[var(--secondaryText)]
        text-justify
    } */

    .cardTitle{
        @apply 
        font-medium tracking-wide
    }

    .clipContent .iconDiv{
        @apply
        bg-[var(--CTAbuttonColor1)]/20 
        p-4 rounded-full
    }

    .borderColor{
        @apply
        border-[var(--NavHeroSplit)]
    }

    .clipContent h1{
        @apply
        font-medium
    }

    .clipContent p{
        @apply
        text-[var(--secondaryText)]
    }

    .Socialicon{
        @apply
        scale-150
        text-[var(--CTAbuttonColor1)]
    }

    .MainPaddingY{
        @apply
        py-8
    }

    .flex-center{
        @apply
        flex items-center justify-center
    }

    .cardTailwind{
        @apply
        w-full
        border-1 border-[var(--NavHeroSplit)] 
        rounded-2xl tracking-wider
        px-4 py-4 xl:py-2 md:px-8
    }
    .cardTailwindAnim{
        @apply
        w-full
        border-1 border-[var(--NavHeroSplit)] 
        rounded-2xl tracking-wider

    }

    .cardTailwindH1{
        @apply
        lg:leading-25
        font-['Playfair'] font-bold
    }

    .skills img{
        @apply
        h-14 w-fit 2xl:h-20
    }

    .sunRay{
        @apply
        bg-gradient-to-l to-[var(--CTAbuttonColor2)] from-[var(--CTAbuttonColor1)]
        h-1.5 w-1.5 absolute rounded-full
    }

    .cardShadow{
        @apply
        shadow-sm hover:shadow-lg
        transition-all
    }

    .AboutMeCard{
        @apply
        col-span-12 lg:col-span-6 bg-[var(--secondaryBackgroundColor)]
        p-4 rounded-xl border-1 border-[var(--NavHeroSplit)]
        shadow-sm hover:shadow-lg transition-all
    }

    .AboutMeCard h1, .tech h1{
        @apply
        text-xl md:text-xl lg:text-2xl
        font-medium tracking-wider  font-serif
    }

    .AboutMeCard p, .AboutMeCard ul li{
        @apply
        text-[4vw] md:text-[3vw] lg:text-[1vw] 
        tracking-wider text-[var(--secondaryText)]
        text-justify
    }

    .tech{
        @apply
        bg-[var(--secondaryBackgroundColor)]
        p-4 rounded-xl border-1 border-[var(--NavHeroSplit)]
        shadow-sm
    }

    .technology{
        @apply
        px-4 py-1 md:px-16 md:py-2 bg-gradient-to-l to-[var(--CTAbuttonColor2)] from-[var(--CTAbuttonColor1)]
        w-fit text-white rounded-full border-1 border-[var(--NavHeroSplit)]
        shadow-sm hover:shadow-lg transition-all
        text-[4vw] md:text-[3vw] lg:text-[1vw] font-bold
    }

    .socialIcons{
        @apply
        transition-all duration-300 ease-in-out
        hover:scale-125
    }

    .transitonSmooth{
        @apply
        transition-all duration-300 ease-in-out
    }

    .bentoH1{
        @apply
        font-bold text-2xl 2xl:text-3xl;
    }

    .bentoP{
        @apply text-sm text-[var(--secondaryText)];
    }

    .bentoPItalic{
        @apply
        text-sm italic
    }

    .leftBorder{
        @apply p-2 2xl:p-3 border-l-4 border-[var(--CTAbuttonColor1)];
    }

    .bentoWhiteCard {
        @apply border border-[var(--NavHeroSplit)] h-full w-full 
               bg-[var(--secondaryBackgroundColor)] p-4 rounded-lg space-y-4 
               flex flex-col justify-center items-center lg:items-start 
               hover:shadow-lg transition-all;
    }
    .bentoSmallButton{
        @apply
        inline-flex px-3 py-2 items-center gap-2 rounded-full 
        font-semibold transition-all w-fit 
        hover:gap-4 hover:shadow-lg hover:shadow-[var(--CTAbuttonColor1)]/25 active:scale-95
        text-sm
    }

    .socialIcons{
        @apply
        size-4 hover:scale-125 transition-all duration-300 ease-in-out
    }

    .mainDivLayout{
        @apply
        md:max-w-[640px] mx-auto lg:max-w-full
        p-4 lg:p-8 py-16 space-y-8 lg:space-y-12
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: var(--NavHeroSplit);
        border-radius: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(--secondaryText);
    }
}

@theme inline {
    --font-heading: 'Space Grotesk', sans-serif;
    --font-mono: 'Space Mono', monospace;
    --font-display: 'Playfair', serif;
    --radius-sm : calc(var(--radius) - 4px);
    --radius-md : calc(var(--radius) - 2px);
    --radius-lg : var(--radius);
    --radius-xl : calc(var(--radius) + 4px);
    --radius-2xl : calc(var(--radius) + 8px);
    --radius-3xl : calc(var(--radius) + 12px);
    --radius-4xl : calc(var(--radius) + 16px);
    --color-background : var(--background);
    --color-foreground : var(--foreground);
    --color-card : var(--card);
    --color-card-foreground : var(--card-foreground);
    --color-popover : var(--popover);
    --color-popover-foreground : var(--popover-foreground);
    --color-primary : var(--primary);
    --color-primary-foreground : var(--primary-foreground);
    --color-secondary : var(--secondary);
    --color-secondary-foreground : var(--secondary-foreground);
    --color-muted : var(--muted);
    --color-muted-foreground : var(--muted-foreground);
    --color-accent : var(--accent);
    --color-accent-foreground : var(--accent-foreground);
    --color-destructive : var(--destructive);
    --color-border : var(--border);
    --color-input : var(--input);
    --color-ring : var(--ring);
    --color-chart-1 : var(--chart-1);
    --color-chart-2 : var(--chart-2);
    --color-chart-3 : var(--chart-3);
    --color-chart-4 : var(--chart-4);
    --color-chart-5 : var(--chart-5);
    --color-sidebar : var(--sidebar);
    --color-sidebar-foreground : var(--sidebar-foreground);
    --color-sidebar-primary : var(--sidebar-primary);
    --color-sidebar-primary-foreground : var(--sidebar-primary-foreground);
    --color-sidebar-accent : var(--sidebar-accent);
    --color-sidebar-accent-foreground : var(--sidebar-accent-foreground);
    --color-sidebar-border : var(--sidebar-border);
    --color-sidebar-ring : var(--sidebar-ring);
}

.dark {
    --background : oklch(0.145 0 0);
    --foreground : oklch(0.985 0 0);
    --card : oklch(0.205 0 0);
    --card-foreground : oklch(0.985 0 0);
    --popover : oklch(0.205 0 0);
    --popover-foreground : oklch(0.985 0 0);
    --primary : oklch(0.922 0 0);
    --primary-foreground : oklch(0.205 0 0);
    --secondary : oklch(0.269 0 0);
    --secondary-foreground : oklch(0.985 0 0);
    --muted : oklch(0.269 0 0);
    --muted-foreground : oklch(0.708 0 0);
    --accent : oklch(0.269 0 0);
    --accent-foreground : oklch(0.985 0 0);
    --destructive : oklch(0.704 0.191 22.216);
    --border : oklch(1 0 0 / 10%);
    --input : oklch(1 0 0 / 15%);
    --ring : oklch(0.556 0 0);
    --chart-1 : oklch(0.488 0.243 264.376);
    --chart-2 : oklch(0.696 0.17 162.48);
    --chart-3 : oklch(0.769 0.188 70.08);
    --chart-4 : oklch(0.627 0.265 303.9);
    --chart-5 : oklch(0.645 0.246 16.439);
    --sidebar : oklch(0.205 0 0);
    --sidebar-foreground : oklch(0.985 0 0);
    --sidebar-primary : oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground : oklch(0.985 0 0);
    --sidebar-accent : oklch(0.269 0 0);
    --sidebar-accent-foreground : oklch(0.985 0 0);
    --sidebar-border : var(--NavHeroSplit);
    --sidebar-ring : oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}